.status-box:hover {
  cursor: pointer;
}
.profile--container {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile--container > button {
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  background-color: #fff;
  border: 0;
  font-size: 1.2rem;
}
.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 40px 30px;
}
.task {
  display: grid;
  grid-template-columns: 10% 40% 40% auto;
  align-items: center;
}
.profile--details {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.projectTitle {
  font-size: 2rem;
  font-weight: 700;
}
.edit {
  width: fit-content;
}
.edit:hover {
  cursor: pointer;
  background-color: #fff;
}
.add-task {
  font-size: 16px;
  border: 0;
  background-color: #5b585869;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 5px 10px;
}
.status-info-container {
  gap: 100px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-50 {
  margin-bottom: 50px;
}
